.inner {
/*	width: 95%;*/
	padding-bottom: 30pt;
	padding-top: 30pt;
}

.center-me {
	margin: 0 auto;
}

#site-menu {
	text-align: right;
	margin-top: 8pt;
	font-size: 12pt;
  font-family: 'Roboto', sans-serif;

}

#title {
	font-size: 20pt;
    border-left: thick solid #000000;
  font-family: 'Roboto', sans-serif;
}

#main-content {
	padding-top: 20pt;
  background-color: #f9f9f9;
  padding-bottom: 50pt;
  font-family: 'Roboto', sans-serif;

}

a {
	color: #000000;
	transition: color 0.5s ease;
}
a:hover, a:active {
    color: red;
    text-decoration: none;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #dcdcdc;
/*  border-radius: 25px;
*/}

.project-col {
  margin-bottom: 15pt;
}

.project-container {
  position: relative;
  height: 100%;
  width: 100%;
}

.art-container {
  padding: 5pt;
  height: auto;
}

.project-container:hover .overlay {
  opacity: .8;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
}

.art-image {
  height: auto;
}

.text {
  border-bottom: thick solid #ff2641;
  padding: 5pt;
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.body-text {
  margin-top: 15pt;
}

.body-title {
  font-weight: bold;
  margin-top: 5pt;
  margin-bottom: 5pt;
  padding-left: 5pt;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  border-left: medium solid #ff2641;
}

.body-title-large {
  font-size: 40px;
}

.margin-vertical-med {
  margin-top: 50pt;
  margin-bottom: 50pt;
}

.caption {
  font-style: italic;
}

.dropbtn {
    background-color: #ffffff;
    background-opacity:.4;
    color: black;
    border: none;
    text-align: center;
    font-size: 12pt;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;

}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 10pt;
    text-align: left;

}

.dropdown-content a:hover {color: red}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    color: red;
    transition: color 0.5s ease;

}
.button1 {
  -moz-box-shadow:inset 0px 0px 0px 0px #f5978e;
  -webkit-box-shadow:inset 0px 0px 0px 0px #f5978e;
  box-shadow:inset 0px 0px 0px 0px #f5978e;
  background-color: white;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
  border:1px solid red;
  display:inline-block;
  cursor:pointer;
  color: red;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:12px 24px;
  text-decoration:none;
  font-family: 'Roboto', sans-serif;

}
.button1:hover {
  background-color:#c62d1f;
  border:1px solid #c62d1f;

  color: white;
}
.button1:active {
  position:relative;
  top:1px;
}

.footer {
  text-align: center; /* Center the footer text */
  padding: 20px; /* Padding for the footer */
  background-color: #f8f9fa; /* Optional: Add a background color */
}

.footer .btn {
  margin: 5px; /* Space between buttons */
  display: flex; /* Center icons and text */
  align-items: center; /* Center icon vertically */
}

.footer-buttons {
  display: flex;
  justify-content: center; /* Center buttons horizontally */
  flex-wrap: wrap; /* Wrap buttons if they overflow */
}

.footer-buttons a {
  text-decoration: none; /* Remove underline from links */
  color: black; /* Set icon color */
  background-color: transparent;
  border: none;
}

.footer-buttons a:hover {
  background-color: transparent; /* Change background color on hover */
  color: red; /* Change icon color on hover */
}

.footer a:focus, .footer button:focus {
  outline: none;
}